.grid-elements__button_like {
    background-image: url(../../../images/like.svg);
}

.grid-elements__button_like:hover {
    opacity: .5;
}

.grid-elements__button_like:active {
    opacity: 1;
    background-image: url(../../../images/liked.svg);
}